<div class="card">
  <div class="card-header d-flex justify-content-between align-items-center" (click)="hide = !hide">
    Graph
    <a [id]="'downloadGraph' + index" [download]="datasetTitle + '-graph.jpg'">
      <button class="btn btn-sm btn-outline-secondary small" (click)="downloadGraph($event)">
        Download .jpeg
      </button>
    </a>
  </div>

  <div class="card-body" [hidden]="hide">
    <div class="vh-75 d-flex">
      <div class="col-10 p-0" [id]="'sigma-container-' + index"></div>
      <div class="col border-left bg-light">

        <h6 class="mt-3">Display datasets</h6>
        <div class="mx-3">
          <form [formGroup]="datasetsForm">
            <div class="form-check mt-2">
              <input class="form-check-input" type="checkbox" value="" id="{{'allDatasets' + index}}"
                     formControlName="{{'allDatasets' + index}}">
              <label class="form-check-label ml-2" for="{{'allDatasets' + index}}">
                Combine all
              </label>
            </div>

            <div class="form-check mt-2" *ngFor="let dataset of graphsCollection">
              <input class="form-check-input" type="checkbox" value="" id="{{dataset.TITLE + index}}"
                     formControlName="{{dataset.TITLE + index}}">
              <label class="form-check-label ml-2" for="{{dataset.TITLE + index}}">
                {{dataset.TITLE}}
              </label>
            </div>
          </form>
        </div>

        <div class="card mt-3 px-1 small" *ngIf="selectedNodeInfo?.selNode">
          <p class="m-0">Node name: {{selectedNodeInfo.selNode.label}}</p>
          <p class="m-0">Node size: {{selectedNodeInfo.selNode.size}}</p>
          <p class="m-0">Neighbours: {{selectedNodeInfo.neighbours.length}}</p>
          <div class="border-top">
            <p class="m-0">Connections:</p>
            <div class="neighbours-container">
              <p class="m-0 d-flex justify-content-between" *ngFor="let neighbour of selectedNodeInfo.neighbours">
                <span>{{neighbour.name}}</span>
                <span>Weight: {{neighbour.weight}}</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
