.vh-75 {
  min-height: 75vh;
}

.card {
  .card-header {
    padding: .25rem .5rem;
  }
  .card-body {
    padding: 0;
  }
}

.neighbours-container {
  max-height: 400px;
  overflow-y: auto;
  p:hover {
    font-weight: bold;
  }
}
