<div class="card">
  <div class="card-header d-flex justify-content-between align-items-center" (click)="hide = !hide">
    Chart
    <a [id]="'downloadChart' + index" [download]="datasetTitle + '-chart.jpg'">
      <button class="btn btn-sm btn-outline-secondary small" (click)="downloadChart()">
        Download .jpeg
      </button>
    </a>
  </div>
  <div class="card-body" [hidden]="hide">
    <canvas [id]="'bubbleChartContainer' + index" width="100%" height="100%"></canvas>
  </div>
</div>
